# Backup files
*~

# Precompiled README
README.el

# Tangle directory
tangle/

# Eshell cache
eshell/

# IDO cache
ido.last

# Package caches
elpa/
quelpa/

# Whatever this is
transient/

# Temporary files
session.*
.#session.*
projectile-bookmarks.eld
.mc-lists.el
.lsp-session-v1
